:root {
  --primary-color: #6c63ff;
  --heading-font-family: "Playfair Display", serif;
  --sub-font-family: "Poppins", sans-serif;
  --secondary-color: #f9f7fe;
}
body {
  font-family: var(--sub-font-family);
}

h1,
h2,
h3 {
  font-family: var(--heading-font-family);
  color: black;
  font-weight: 700;
}
p {
  font-style: normal;
  font-size: 14px;
  line-height: 30px;
}
.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 150px 20px;
}
.hero p {
  font-size: 36px;
  font-weight: 700;
  margin: 0;
  color: #272142;
}
h1 {
  font-size: 96px;
  line-height: 1.5;
}
h2 {
  font-size: 64px;
}
.hero h2 {
  font-size: 24px;
  font-weight: normal;
  line-height: 1.5;
  color: #272142;
  font-family: var(--sub-font-family);
}
.btn-branding {
  background-color: var(--primary-color);
  color: #ffffff;
  border-radius: 4px;
  padding: 15px 30px;
  line-height: 25px;
  font-size: 18px;
}
.btn-branding-outlook {
  border-radius: 4px;
  padding: 15px 30px;
  line-height: 25px;
  font-size: 18px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.portfolio-description {
  padding: 120px 60px;
}
@media (max-width: 900px) {
  .portfolio-description {
    padding: 0;
    text-align: center;
  }
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 42px;
  }
  .hero {
    padding: 80px 20px;
  }
}
